@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300;400&display=swap");

:root {
  --background: #0a043c;
  --secondBackground: #03506f;
  --middleColor: #bbbbbb;
  --lightColor: #ffe3d8;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
  color: #272829;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--lightColor);
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--lightColor);
  font-family: "Ubuntu", sans-serif;
}

p,
strong,
span {
  font-size: 15px;
  color: var(--lightColor);
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: transparent;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
}

.back-to-top i {
  font-size: 28px;
  color: var(--middleColor);
  line-height: 0;
}

.back-to-top i:hover {
  background: transparent;
  color: var(--lightColor);
  border-radius: 50px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: transparent;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 6px solid rgba(250, 244, 244, 0.25);
  cursor: pointer;
  transition: 0.3s;
}

#header .profile img:hover {
  border: 20px solid rgba(250, 244, 244, 0.25);
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: var(--lightColor);
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: transparent;
  color: var(--middleColor);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.5s;
}

#header .profile .social-links a:hover {
  background: rgba(250, 244, 244, 0.25);
  color: var(--lightColor);
  text-decoration: none;
  filter: brightness(1.75);
}

#main {
  background-color: var(--background);
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--lightColor);
  padding: 12px 15px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: var(--secondBackground);
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  text-decoration: none;
  color: var(--middleColor);
  filter: brightness(1.75);
}

.nav-menu a:hover i,
.nav-menu li:hover > a i {
  color: var(--lightColor);
}

.nav-menu li span {
  margin-left: 5px;
  transition: 0.3s;
}

.nav-menu li span:hover {
  margin-left: 15px;
}

/* Mobile Navigation */

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: var(--secondBackground);
  color: var(--lightColor);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  background: url("./assets/images/heroBackground.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: var(--lightColor);
}

#hero p {
  color: var(--lightColor);
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: var(--lightColor);
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--middleColor);
}

#hero button {
  margin-top: 50px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--lightColor);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--middleColor);
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--lightColor);
}

.about img {
  border-radius: 10px;
  cursor: pointer;
  /* transition: 0.3s; */
}

.about img:hover {
  border: 10px solid var(--lightColor);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--middleColor);
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.sPkills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--background);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: var(--background);
  height: 15px;
  border-radius: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 15px;
  border-radius: 10px;
  transition: 0.9s;
  background: rgb(10, 4, 60);
  background: linear-gradient(
    90deg,
    rgba(10, 4, 60, 1) 0%,
    rgba(3, 80, 111, 1) 50%,
    rgba(187, 187, 187, 1) 100%
  );
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

/* .portfolio .portfolio-item {
  margin-bottom: 30px;
} */

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: var(--lightColor);
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #37b3ed;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

/* .portfolio .portfolio-container {
  width: 100%;
} */

/* .portfolio .portfolio-container .portfolio-item {
  width: 100% !important;
} */

.portfolio .portfolio-wrap {
  margin: 1rem;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap iframe {
  border-radius: 10px;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(10, 4, 60, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: var(--lightColor);
  font-size: 28px;
  text-align: center;
  background: var(--secondBackground);
  transition: 0.3s;
  width: 50%;
  border-radius: 10px;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(10, 4, 60, 0.5);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: var(--lightColor);
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: var(--middleColor);
  float: left;
  width: 44px;
  height: 44px;
  background: var(--secondBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--background);
  cursor: pointer;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  color: var(--secondBackground);
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: var(--lightColor);
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: var(--secondBackground);
  color: var(--lightColor);
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--secondBackground);
  color: var(--lightColor);
}

.contact .email-form {
  width: 100%;
  padding: 30px;
  background: var(--lightColor);
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.contact .email-form .form-group {
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.contact .email-form input {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 15px;
}

.contact .email-form button[type="submit"] {
  padding: 10px 24px;
  font-size: 1.2rem;
}

.contact .email-form button[type="submit"]:hover {
  background-color: var(--background);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: var(--secondBackground);
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: transparent;
}

#footer span {
  color: var(--secondBackground);
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: var(--background);
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
